<div class="navbar">
  <div class="ms-3"><i class="fa-solid fa-ticket fa-2xl"></i></div>
  <div>
    <%= link_to "Create a New List", new_list_path, class: 'btn btn-light' %>
    <%= link_to "My Lists", lists_path, class: 'btn btn-light' %>
  </div>
</div>

    <%# TODO: Make background image work %>
<div class="banner">
  <h1>All Lists</h1>
</div>

<div class="container">
<h3>My Lists</h3>
  <div class="row">
    <% @lists.each do |list| %>
    <div class="col-4">
    <%# TODO: Whole card can be clicked %>
    <%# TODO: Make background image work %>
    <% if list.photo.attached?  %>
      <% url = cloudinary_url(list.photo.key) %>
    <% else %>
      <% url = 'https://res.cloudinary.com/dp39nvrov/image/upload/v1700209399/zcpcydx06mow2u1yrusb.jpg' %>
    <% end %>
      <div class="card-index"  style="background_image: url('<%= url %>.jpg')">
        <h5><%= link_to list.name, list_path(list) %></h5>
      </div>
    </div>
    <% end %>
  </div>
  <br>
  <%= link_to "Create a New List", new_list_path, class: 'btn btn-primary' %>
</div>
