<%# TODO: Make background image work %>
<div class="banner">
  <h1>Create a new list</h1>
</div>

<%= simple_form_for @list do |f| %>
  <%= f.input :name %>
  <%= f.input :photo, as: :file %>
  <%= f.submit %>
<% end %>

<br>

<%= link_to "Back", root_path, class: 'btn btn-primary' %>
