<div class="navbar">
  <div class="ms-3"><i class="fa-solid fa-ticket fa-2xl"></i></div>
  <div>
    <%= link_to "Create a New List", new_list_path, class: 'btn btn-light' %>
    <%= link_to "My Lists", lists_path, class: 'btn btn-light' %>
  </div>
</div>

<div class="banner" src='assets/images/downloaded.jpeg' alt='...'>
  <h1>List: <%= @list.name %></h1>
</div>

<div class="container">
  <h3>Bookmarks:</h3>
  <div class="row">
    <% @list.bookmarks.each do |bookmark| %>
    <div class="col-4">
    <div class="card me-4">
      <%= image_tag "#{bookmark.movie.poster_url}", alt: "#{bookmark.movie.title} poster", class: "card-img-top" %>
      <div class="card-body">
        <h5 class="card-title"><%= bookmark.movie.title %></h5>
        <p class="card-text"><%= bookmark.movie.overview %></p>
        <div class="justify-content-space-between">
          <p class="card-text"><i class="fa-solid fa-quote-left"></i>Comment: <%= bookmark.comment %></p>
          <%= link_to "Delete",
            bookmark_path(bookmark),
            data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
            class: 'btn btn-danger'
          %>
        </div>
      </div>
    </div>
    </div>
    <% end %>
  </div>
<div class="mt-3">
  <h3>Add a new movie to the list <%= @list.name %></h3>

  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.association :movie %>
    <%= f.input :comment %>
    <%= f.submit class: 'btn btn-primary' %>
  <% end %>
</div>

<br>

<%= link_to 'Back to all lists', root_path, class: 'btn btn-primary' %>
</div>
