<div class="banner">
  <h1>List: <%= @list.name %></h1>
</div>

<%# Chanege font to be in line with rest of doc %>
<div class="container">
  <h3>Bookmarks:</h3>
  <div class="row">
    <% @list.bookmarks.each do |bookmark| %>
    <div class="col-4">
    <div class="bookmark-card">
      <%= image_tag "#{bookmark.movie.poster_url}", alt: "#{bookmark.movie.title} poster" %>
      <div class="bookmark-card-body">
        <h5 class="bookmark-card-title"><%= bookmark.movie.title %></h5>
        <p class="bookmark-card-overview"><%= bookmark.movie.overview %></p>
        <div class="bookmark-card-comment">
          <p><i class="fa-solid fa-quote-left"></i>Comment: <%= bookmark.comment %></p>
          <%# Make button be just one size and not grow with the comment %>
          <%= link_to "Delete",
            bookmark_path(bookmark),
            data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
            class: 'btn btn-danger'
          %>
        </div>
      </div>
    </div>
    </div>
    <% end %>
  </div>

<div class="p-3">
  <h3>Add a new movie to the list <%= @list.name %></h3>

  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.association :movie %>
    <%= f.input :comment %>
    <%= f.submit %>
  <% end %>
</div>

<br>

<%= link_to 'Back to all lists', root_path, class: 'btn btn-primary' %>

</div>
